VTPlaybook/Website Triage - VirusTotal.json
{
  "name": "Website Triage - VirusTotal",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/urls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json[\"body\"][\"url\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        336
      ],
      "id": "a7db47c5-0238-4585-9563-0052097e307e",
      "name": "VT - Submit URL",
      "credentials": {
        "virusTotalApi": {
          "id": "TYjYgUXD5Sxp1lKb",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "=POST",
        "path": "=phish-alert",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        336
      ],
      "id": "9f692ba1-0607-44cf-a07c-202894cddc83",
      "name": "Webhook1",
      "webhookId": "e6c68877-05f1-4dbf-b5e3-3ce541851c9b",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"received\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        336
      ],
      "id": "56d75456-7122-41a0-ba30-b5579c4cb2e6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Access the VT stats (adjust path if your JSON is nested differently)\nconst stats = items[0].json.data.attributes.stats;\n\nconst url = $input.first().json.meta.url_info.url;\n\n// Convert string values to numbers (default to 0 if missing)\nconst malicious = parseInt(stats.malicious || '0', 10);\nconst suspicious = parseInt(stats.suspicious || '0', 10);\nconst undetected = parseInt(stats.undetected || '0', 10);\nconst harmless = parseInt(stats.harmless || '0', 10);  // Optional: include if needed\n\n// Calculate total engines (sum all stats) - this is usually the denominator for percentages\nconst total = malicious + suspicious + undetected + harmless;\n\n// Risk score: e.g., (malicious + suspicious) / total * 100 (as percentage)\nconst riskScore = total > 0 ? ((malicious + suspicious) / total) * 100 : 0;\n\n// Round to 2 decimals for cleanliness\nconst roundedRiskScore = Math.round(riskScore * 100) / 100;\n\n// Output simplified JSON (customize as needed)\nitems[0].json = {\n  url,\n  malicious,\n  suspicious,\n  undetected,\n  harmless,\n  total,\n  risk_score: roundedRiskScore,  // e.g., 15.5 for 15.5%\n  risk_percentage: `${roundedRiskScore}%`  // String version if needed\n};\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        336
      ],
      "id": "072d8243-708b-44b4-9add-664245eaae0a",
      "name": "Score Calc"
    },
    {
      "parameters": {
        "url": "={{ $('VT - Submit URL').item.json.data.links.self }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        336
      ],
      "id": "b002de72-959d-41d8-9150-3034ab81fea6",
      "name": "Get VT Results",
      "credentials": {
        "virusTotalApi": {
          "id": "TYjYgUXD5Sxp1lKb",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3ef73f5-03f7-4ede-b83e-cb1460ab0516",
              "leftValue": "={{ $json.risk_score }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        336
      ],
      "id": "7da185a0-6993-41a2-8adc-065cead61d85",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        336
      ],
      "id": "4b347185-c238-4a55-bcaa-a6b718bf44e6",
      "name": "Wait for VT to Process",
      "webhookId": "55a8bded-2133-4b0b-b680-a9be438fa940"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09RXLREE80",
          "mode": "id"
        },
        "text": "=Here is your risk score from your recent scan: [{{ $json.risk_score }}/100]!\nThe scanned URL was: {{ $json.url }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1312,
        240
      ],
      "id": "fdbec56a-ea41-4ade-81af-3d53047fe217",
      "name": "Send a message1",
      "webhookId": "85cc1fc6-3bee-4ba6-a589-2737713097f6",
      "credentials": {
        "slackApi": {
          "id": "sdwjwc1zS8ndHKC8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09RXLREE80",
          "mode": "id"
        },
        "text": "=The scanned URL {{ $json.url }} was clean!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1392,
        416
      ],
      "id": "5689438f-b1fb-4706-bb7c-926d2c4154bb",
      "name": "Send a message",
      "webhookId": "85cc1fc6-3bee-4ba6-a589-2737713097f6",
      "credentials": {
        "slackApi": {
          "id": "sdwjwc1zS8ndHKC8",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "VT - Submit URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VT - Submit URL": {
      "main": [
        [
          {
            "node": "Wait for VT to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VT Results": {
      "main": [
        [
          {
            "node": "Score Calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Calc": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for VT to Process": {
      "main": [
        [
          {
            "node": "Get VT Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "81cb5dbe-8068-4403-93f9-d2450e96cc5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3007e796230ec06b7d68fcbab7c6aca7fbc4b2aeda2244ff50323a11ad2c324c"
  },
  "id": "YLtKqZt9JAskQ3rk",
  "tags": []
}